{{!-- to do: make some fields optional to fill out --}}

<h2>Edit your profile</h2>
{{#with owner}}


<form class="flex-form" action="/owner/profile/{{this._id}}/edit" method="POST" enctype="multipart/form-data">

<div class="flex-form-fields">
    <div class="form-field">
        <label for="username">Username: </label>
        <input type="username" name="username" id="username" value="{{username}}">
    </div>
    <div class="form-field">
        <label for="nameOrg">Name of your organisation: </label>
        <input type="text" name="nameOrg" id="nameOrg" value="{{nameOrganisation}}">
    </div>
    <div class="form-field">
        <label for="firstName">First Name: </label>
        <input type="text" name="firstName" id="firstName" value="{{firstName}}">
    </div>
    <div class="form-field">
        <label for="lastName">Last Name: </label>
        <input type="text" name="lastName" id="lastName" value="{{lastName}}">
    </div>
    <div class="form-field">
        <label for="email">E-mail: </label>
        <input type="email" name="email" id="email" value="{{email}}">
    </div>
    <div class="form-field">
        <label for="photo">Photo: </label>
        <input type="file" name="photo" id="photo">
    </div>
    <div class="form-field">
        <label for="website">Website: </label>
        <input type="url" name="website" id="website" placeholder="optional" value="{{website}}">
    </div>
    
    <div class="form-field">
        <label for="country">Country: </label>
    {{> locationPartial country}}
    </div>
    
    <div class="form-field">
    <label for="city">City: </label>
    <input type="text" name="city" id="city" value={{city}}>
    </div>
    
    <div class="form-field">
       <label for="primarylanguage">Primary language: </label>
    <select id="primarylanguage" name="primarylanguage">
        {{> languagePartial}}
    </select>
    </div>
    
    <div class="form-field">
<label for="secondarylanguage">Secondary language: </label>
<select id="secondarylanguage" name="secondarylanguage">
{{> languagePartial}}</select>
    </div>
    
    <div class="form-field">
        <label for="description">Description: </label>
        <textarea name="description" id="description" rows="4" cols="40"
            placeholder="Please describe yourself or your institution in a few sentences.">{{description}}</textarea>
    </div>
    <div class="form-field">
        <label for="category">Category: </label>
        <select name="category" id="category">
            <option value="NGO">NGO</option>
            <option value="individual">Individual</option>
            <option value="association">Association</option>
            <option value="startup">Startup</option>
            <option value="education">Educational institution</option>
            <option value="social">Social Services</option>
            <option value="company">Company</option>
            <option value="other">other</option>
        </select>
    </div>
</div>

    <button class="btn" type="submit">Edit</button>
</form>

<p><a class="btn back-btn" href="/owner/profile/{{this._id}}/myprofile">Back to your profile</a></p>

{{/with}}