{{!-- to do: make some fields optional to fill out --}}

<h2>Edit your profile</h2>
{{#with owner}}

<form action="/owner/profile/{{this._id}}/edit" method="POST">

    <label for="username">Username: </label>
    <input type="username" name="username" id="username" value="{{username}}">

    <label for="nameOrg">Name of your organisation: </label>
    <input type="text" name="nameOrg" id="nameOrg" value="{{nameOrganisation}}">

    <label for="firstName">First Name: </label>
    <input type="text" name="firstName" id="firstName" value="{{firstName}}">

    <label for="lastName">Last Name: </label>
    <input type="text" name="lastName" id="lastName" value="{{lastName}}">

    <label for="email">E-mail address: </label>
    <input type="email" name="email" id="email" value="{{email}}">

    <label for="website">Website: </label>
    <input type="url" name="website" id="website" placeholder="optional" value="{{website}}">

    <label for="location">Your location: </label>
    <input type="text" name="location" id="location" placeholder="city, country" value="{{location}}">

    <label for="languages">Languages: </label>
    <input type="text" name="languages" id="languages" placeholder="Enter languages you speak" value="{{languages}}">

    <label for="description">Description: </label>
    <textarea name="description" id="description" rows="4" cols="40"
        placeholder="Please describe yourself or your institution in a few sentences.">{{description}}
    </textarea>

    <label for="category">Category: </label>
    <select name="category" id="category">
        <option value="NGO">NGO</option>
        <option value="individual">Individual</option>
        <option value="association">Association</option>
        <option value="startup">Startup</option>
        <option value="education">Educational institution</option>
        <option value="social">Social Services</option>
        <option value="company">Company</option>
        <option value="other">other</option>
    </select>

    <button type="submit">Edit</button>

</form>

{{/with}}