<h1>Your profile</h1>

{{#with owner}}
<p><strong> Username: </strong>{{username}}</p>
<p><strong> Name of your organisation: </strong>{{nameOrganisation}}</p>
<p><strong> First Name:</strong> {{firstName}}</p>
<p><strong>Last Name: </strong>{{lastName}}</p>
<p><strong>E-mail: </strong>{{email}}</p>
<p><strong>Your website: </strong>{{website}}</p>
<p><strong>Your location: </strong>{{location}}</p>
<p><strong>Your languages: </strong>{{languages}}</p>
<p><strong>Self-description: </strong>{{description}}</p>
<p><strong>Category: </strong>{{category}}</p>

<p><a class="btn" href="/owner/profile/{{this._id}}/edit">Edit your profile</a></p>
<p><a class="btn" href="/owner/{{this._id}}/projects/myprojects">See your projects</a></p>

<p><a class="btn back-btn" href="/owner">Go back</a></p>

{{/with}}