<h1>All projects</h1>


{{#each projectList}}

<h2>{{title}}</h2>
<p>Description: {{description}}</p>
<p>Owner of this project: {{owner.username}}</p>
<p>Current status: {{status}}</p>
<p>Time needed per week: {{time_per_week}}</p>


{{#if displayApplyLink}}
<a class="btn" href="/apply/{{_id}}/{{../webdevID}}/">Apply to this project</a>
{{else}}
<p><strong>Applied!</strong></p>
{{/if}}

{{/each}}

<p><a class="btn" href="/webdev/{{webdevID}}/myprojects">See your projects</a></p>
<p><a class="btn back-btn" href="/webdev/">Go back</a></p>